  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, monospace;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }

  #cat-photo-form {
    background-color: green;
    margin: 20px;
  }

  .silver-background {
    background-color: silver;
  }
  th, td {
    border: 1px solid black;
    padding: 15px;
  }
  table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
  }