.order-pizza-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;

}

.order-pizza-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 10px;
    overflow-y: scroll;
    min-height: 500px;
    max-height: 500px; 
    padding-top: 30px;
}

.order-pizza-list h2 {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 70px;
}

.order-pizza-box {
    width: 420px;
    height: 150px;
    justify-self: center;
}


.order-pizza-img-box {
    width: 100px;
    height: 150px;
    /* justify-content: center; */
    /* align-items: center; */
    z-index: 9;
    position: relative;
    top: 0;
    left: 0;
}

.order-pizza-img {
    width: 100px;
    position: absolute;
    /* top: 10%; */
}

.order-pizza-desc {
    width: 300px;
    height: 150px;
    
    box-shadow: 0 8px 16px 0 rgba(161, 140, 140, 0.3); 
    backdrop-filter: blur( 17px );
    border-style: solid;
    border-width: 2px;
    border-color: rgba(197, 197, 197, 0.699);
    border-radius: 16px; 

    position: relative;
    top: -180px;
    left: 50px;

    text-align: center;
    color: white;
    padding-left: 50px;
    /* padding-top: 18px; */
}

.order-pizza-desc li {
    color: rgb(150, 150, 150);
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px;
}

.order-pizza-desc p {
    color: rgb(150, 150, 150);
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}


.order-pizza-desc h4 {
    margin-bottom: 2px;
}

.order-pizza-list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0,0,0,0.1);
  
}


.delete-order-button {
    background-color: rgba(182, 152, 18, 0.884);
    box-shadow: 0 0 20px 0 rgba(182, 152, 18, 0.6);
    border-radius: 14px;
    font-size: large;
    color: white;
    text-decoration: none;
    width: 100px;
    height: 30px;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    border: none;
    font-size: 14px;
}
  
.delete-order-button:hover {
background-color: rgba(252, 211, 29, 0.884);
box-shadow: 0 0 36px 0 rgba(182, 152, 18, 0.6);
cursor: pointer;
}

.centered-text {
    align-self: center;
    justify-self: center;
}


.order-pizza-list::-webkit-scrollbar-thumb {
    background: #FF0000;
    /* scrollbar-shadow-color: 0 0 30px 0 rgba(255, 0, 0, 0.6); */
    /* box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.6); */
}

@media only screen and (min-width: 1010px)  {
    .order-pizza-grid {
        grid-template-columns: 2fr 1fr;
    }
}

@media only screen and (min-width: 1225px)  {
    .order-pizza-grid {
        grid-template-columns: 3fr 2fr;
    }
}
