.user-nav-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid;
    border-color: white;
    border-radius: 16px;
    height: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.user-nav-elem-right {
    border-left: 1px solid white;
    font-size: large;
    color: white;
    text-decoration: none;
    height: 30px;
    display: flex;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    justify-content: center;
    align-items: center;
}

.user-nav-elem-left {
    border-right: 1px solid white;
    font-size: large;
    color: white;
    text-decoration: none;
    height: 30px;
    display: flex; 
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    justify-content: center;
    align-items: center;
}

.user-nav-elem-left:hover, .user-nav-elem-right:hover {
    background-color: rgba(0, 128, 128, 0.596);
    box-shadow: 0 8px 32px 0 rgba(0, 128, 128, 0.6);
}

.order-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 20px;
}

.order-box {
    width: auto;
    /* width: 420px; */
    height: auto;
    /* height: 150px; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;

    box-shadow: 0 8px 16px 0 rgba(161, 140, 140, 0.3); 
    backdrop-filter: blur( 17px );
    border-style: solid;
    border-width: 2px;
    border-color: rgba(197, 197, 197, 0.699);
    border-radius: 16px; 

    color: white;
}

.order-box p {
    color: white;
    /* font-weight: 16px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.order-box li {
    color: rgb(150, 150, 150);
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px;
}

.order-date-box {
    justify-content: center;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    border-right: 2px solid rgba(197, 197, 197, 0.699);
}

.order-desc {
    display: grid;
    grid-template-columns: 1fr;
    /* margin-top: auto;
    margin-bottom: auto; */
    border-right: 2px solid rgba(197, 197, 197, 0.699);
}

.pizza-in-history {
    display: grid;
    grid-template-columns: 1fr;
}
 
.order-desc p{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
} 

.address-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    row-gap: 5px;
    border-right: 2px solid rgba(197, 197, 197, 0.699);
}

.address-box p {
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
}
.address-box h5 {
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    color: rgb(150, 150, 150);
}

.address-box div{
    margin-left: auto;
    margin-right: auto;
}


.cost-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    row-gap: 5px;
}

.cost-box h4 {
    font-weight: 40px;
    color: tomato;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.light {
    color: rgb(150, 150, 150);
}

.my-col {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.user-message {
    margin-top: 50px;
    text-align: center;
    color: white;
}

.user-message h1{
    font-weight: 60px;
}

.user-message h2{
    font-weight: 50px;
    color: green;
}